.about-inner{
    height:100%
}
.about-header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    width: 100%;
    height: 44px;
    font-size: 12.5px;
    background-color: #5e23dc;
    -webkit-transition: -webkit-transform 0.2s;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
    position: absolute;
    background-color: transparent;
    background-image: linear-gradient( rgba(0,0,0,0.75),rgba(0,0,0,0.45),transparent );
}

.about-logo{
    height: 100%;
    padding: 13px 0;
    width: 173px;
}
.about-logo-img{
    width: 141px;

    object-fit: cover;
    height: 18px;
    margin: 0px 16px;
}
.about-header-div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}
img,a{
    border: none;
    outline: none;
}
a{
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

.about-a{
    height: 44px;
    padding: 0 15px;
    border-left: 1px solid #0003;
    line-height: 44px;
    color: #fff;
    cursor: pointer;
}

.about-profile{
    height: 44px;
    padding: 0px 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 44px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.about-profile-div{
    position: relative;
    top: 9px;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.about-profile-img{
    animation: 300ms linear 0s 1 normal none running animation-1qbobka;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.image-background{
        min-height: 480px;
    height: 75vh;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(../Images/leadership.png);
}
.about-nav{
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    height: 60px;
}

.about-company{
        display: inline-block;
    text-transform: uppercase;
    color: #414141;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    height: 61px;
    line-height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 30px;
}

.about-culture{
    display: inline-block;
    text-transform: uppercase;
    color: #414141;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    height: 61px;
    line-height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 30px;
}

.about-leadership{
    text-transform: uppercase;
    color: #414141;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    height: 61px;
    line-height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 30px;
}

.about-joinus{
    text-transform: uppercase;
    color: #414141;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    height: 61px;
    line-height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 30px;
}